.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  background: #000000;
}

footer {
  position: relative;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

div{
  background: #000000
}

p{
  background: #000000
}